* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #FFF9F1;
}
.container {

    width: 400px;
    height: 300px;
    background: #8BFA94;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 88%;
    place-items: center;
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:repeat(3,1fr);
    gap: 30px 11px;
}

span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #D76159;
}

span:nth-child(odd) {
    border-radius: 50%;
}

span:nth-child(even) {
    border-radius: 0%;
}

span.row2:nth-child(odd) {
    border-radius: 0;
}

span.row2:nth-child(even) {
    border-radius: 50%;
}