* {
    margin: 0;
    padding: 0;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #FFF9F1;
}

.blue {
    background: #2869FE;
}

.red {
    background: #FF5C21;
}

.black {
    background: #030504;
}

.red,
.blue {
    width: 140px;
    height: 70px;
    display: inline-block;
}

.black {
    width: 80px;
    height: 30px;
}