* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #FFF9F1;
}

.wrap {
    width: 400px;
    height: 300px;
    position: relative;
}

.purple {
    background: #2B2E81;
    width: 100%;
    height: 100%;
    position: relative;
}

.purple::before {
    content: '';
    width: 280px;
    height: 80px;
    background: #FFF;
    z-index: 1;
    position: absolute;
    bottom: 0;
    border-radius: 0px 60px 0px 0px;
    background: #2B2E81;
}

.green {
    background: #B5BD49;
    width: 200px;
    height: 160px;
    position: absolute;
    bottom: 0;
    right: 0
}

.green::before {
    content: '';
    width: 100px;
    height: 80px;
    background: #FFF;
    z-index: 1;
    position: absolute;
    border-radius: 40px 0 0 40px;
    background: #B5BD49;
    left: -80px
}